# ========================================================
# Sentina AI Security Assessment Platform - Environment Variables
# ========================================================

DATABASE_URL=
REDIS_URL=
SECRET_KEY=

ALIENVAULT_OTX_API_KEY=
RANSOMWARE_LIVE_API_KEY=
URLSCAN_API_KEY=
NEWS_API_KEY=
WHOISXML_API_KEY=
GRIDINSOFT_API_KEY=
NVD_API_KEY=
VIRUSTOTAL_API_KEY=

SMTP_USERNAME=
SMTP_PASSWORD=

GEMINI_API_KEY=
